/*
 * Jitse Schol
 * Student Number: 10781463
 * Programmeerproject
 * 28-6-2018
 */

/* https://codepen.io/MarioDesigns/pen/ENevMJ */
html, body {
	height: 1600px;
  width: 100%;
	margin: 0;
	padding: 0;
  color: white;
}
body {
  background: rgb(231,76,60);
  background: -moz-linear-gradient(-45deg,  grey 0%, black 100%);
  background: -webkit-linear-gradient(-45deg,  grey) 0%, black 100%);
  background: linear-gradient(135deg,  grey 0%, black 100%);
}
#upperContainer{
  width: 100%;
  height: 500px;
  display: inline-block;
}
#containerMap{
  color: black;
  width: 50%;
  height: 420px;
  position: absolute;
  right: 0px;
  top: 50px;
}
#legend{
  position: absolute;
  left: 490px;
  top: 550px;
}
#legend ul{
  list-style: none;
}
#legend li{
  display: inline;
  margin-right: 8px;
}
#neutral, #alliedTerritory, #invaded, #germanTerritory{
  padding: 6px 8px 6px 18px;
  width: 10px;
  height: 10px;
}
#neutral{
  background-color: #92c5de;
}
#alliedTerritory{
  background-color: #0571b0;
}
#invaded{
  background-color: #f4a582;
}
#germanTerritory{
  background-color: #ca0020;
}
#counter{
  position: absolute;
  font-size: 20px;
  top: 500px;
  right: 300px;
}
#containerBarChart{
  margin-top: 50px;
  margin-left: 20px;
}
#sourceBarChart{
  position: absolute;
  top: 550px;
  left: 10px;
	width: 500px;
  display: none;
  color: black;
}

/* CSS of barchart retrieved from my own dataprocessing repository.
  Style of axis */
.axis path, .axis line, .axis_x path, .axis_x line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

/* Style of axis text */
.axis text{
  font-family: sans-serif;
  font-size: 11px;
}

/* Retrieved from http://bl.ocks.org/Caged/6476579 */
rect{
  fill: #630808;
}
rect:hover{
  fill: #333;
}

/*
 * Retrieved from https://css-tricks.com/snippets/css/text-rotation/
 * Rotates text
 */
.y_axis_text {

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

  /* set position */
  position: absolute;
  left:-60px;
  bottom: 55%;
}

/* http://bl.ocks.org/Caged/6476579 */
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
.containerButton{
  position: absolute;
  right: 500px;
  top: 60px;
  z-index: 1;
}
#myInfo{
  position: absolute;
  top: 630px;
  left: 30px;
}
#mapInfo{
  position: absolute;
  top: 600px;
  width: 400px;
  left: 800px;
}
#sunburstInfo{
  position: absolute;
  top: 1200px;
  width: 400px;
  left: 20px;
}
.button, .refresh {
	position: relative;
	width: 40px;
	height: 40px;
	border: #630808 3px solid;
	border-radius: 3px;
	cursor: pointer;
	transition: border 0.1s ease-in-out;
}
.button:hover, .refresh:hover {
	border: #333 3px solid;
}

.fa {
	position: relative;
  color: #bf0a0a;
	transition: transform 0.4s ease-in-out, background 0.1s ease-in-out;
}
.fa.fa-play, .fa.fa-pause{
  position: absolute;
  top: 25%;
  left: 30%;
  display: block;
}
.refresh{
  position: absolute;
  top: 0;
  left: 80px;
}
.fa.fa-repeat{
  font-size: 25px;
  position: relative;
  left: 6px;
  top: 5px;
}
.button.pause .fa.fa-play, .button.play .fa.fa-pause {
	 display: none;
}
.scroller{
  position: absolute;
  top: 650px;
  right: 50%;
}
.fa.fa-chevron-circle-down:hover{
  color: #630808;
  cursor: pointer;
}
#sunBurstContainer{
  position: absolute;
  top: 900px;
  left: 300px;
  color: white;
}

/* https://bl.ocks.org/mbostock/4348373 */
#sunBurstContainer path{
  stroke: #fff;
}
.dropdown{
  position: absolute;
  top: 950px;
  left: 50px;
}
